@font-face {
    font-family: normal;
    src: url(assets/Fonts/Helvetica.woff);
}
@font-face {
    font-family: bold;
    src: url(assets/Fonts/Helvetica-Bold.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: normal;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
  }

#main{
    width: 100%;
    min-width: 100vh;
    overflow: hidden;
}

nav{
    display: flex;
    width: 100%;
    height: 10vh;
}

.left-nav, .center-nav, .right-nav{
    width: calc(100%/3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
.right-nav{
    gap: 1vw;
}

.left-nav img{
    width: 120px;
}

.center-nav a{
    text-decoration: none;
    font-size: 1vw;
    color: #111;
}

.right-nav button{
    padding: 0.8vw 1.2vw;
    border-radius: 50px;
    background: none;
    font-size: 0.8vw;
    border: 2px solid #b9e901;
}

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 20px 0 0;
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}


.flexsearch {
  padding: 0 2px 0 0;
}

.flexsearch--input {
    background-color: #dadada;
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 35px;
  padding: 0 6px 0 10px;
	border-color: transparent;
  border-radius: 50px; 
  border-style: solid;
	border-width: 2px;
  /* margin-top: 15px; */
  color: #000;
  font-family: normal;
	font-size: 1vw;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 6%;
	top: -75%;
	display: block;
	width: 40px;
	height: 40px;
  padding: 0;
  border: none;
	margin-top: 20px; 
  margin-right: 5px; 
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

/* ------------ Part-1 ----------   */

.part-1{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: space-between;
}

#background{
    position: absolute;
    top: -22%;
    left: 20%;
    transform: translate(-50%,)0;
}

.left-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    gap: 20vh;
}

.center-part-1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

.right-part-1{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25vh;
}

.img-1{
    margin-left: 8vw;
    rotate: -8deg;
    width: 18vw;
    height: 18vw;
    background: url("https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 250px 250px;
    z-index: 9;
    transition: all linear 0.5s;
}

.img-change{
    margin-left: 8vw;
    rotate: -8deg;
    width: 18vw;
    height: 18vw;
    background: url("https://images.unsplash.com/photo-1543508282-6319a3e2621f?auto=format&fit=crop&q=80&w=2030&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 250px 250px;
    transition: all linear 0.5s;

}

.img-1 img{
    margin-top: -2.4vw;
    margin-left: 1.2vw;
}

.comment{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 5vw;
    width: 20vw;
}

.profile-cmt{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-image: url("https://images.unsplash.com/photo-1503235930437-8c6293ba41f5?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    border: 2px solid #b9e901;
}

.center-part-1 #center-p{
    font-size: 1.2vw;
}

.center-part-1 h1{
    font-size: 5vw;
    z-index: 10;
}

.center-rotate{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.rotate-b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    border: 3px solid #b9e901;
    border-radius: 50%;
}

.rotate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5vw;
    height: 6.5vw;
    background-color: #cdf5f865;
    border-radius: 50%; 
    /* animation: rotate 5s linear infinite; */
}

.rotate svg{
    /* border-radius: 50%; */
    z-index: 99;
}

.bottom-center-h{
    display: flex;
    gap: 1vw;
}

.creative{
    padding: 1vw;
    color: #fff;
    border-radius: 20px;
    background-color: #b9e901;
    rotate: 3deg;
}

.scroll{
    position: absolute;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
    animation: upDown 2s linear infinite;
    cursor: pointer;
}

@keyframes upDown {
    0%, 100% {
      bottom: 3vh;
    }
    50% {
      bottom: 7vh;
    }
  }


.scroll i{
    font-size: 1.5vw;
    color: #5f20ea;
}

.scroll a{
    font-size: 1vw;
    text-decoration: none;
    color: #111;
}

.creative h1{
    transform: rotate(-3deg);
}

.right-comment{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.comment-1{
    padding: 0.5vw 1vw;
    color: #fff;
    border-radius: 50px;
    background-color: #5f20ea;
    gap: 10vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}

.right-img{
    margin-left: -14vw;
    rotate: 7deg;
    width: 16vw;
    height: 16vw;
    border-radius: 20px 300px 20px 20px;
    background-image: url("https://images.unsplash.com/photo-1511556532299-8f662fc26c06?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    z-index: 9;
    transition: all linear 0.5s;

}
.img-change-2{
    margin-left: -14vw;
    rotate: 7deg;
    width: 16vw;
    height: 16vw;
    border-radius: 20px 300px 20px 20px;
    background-image: url("https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    transition: all linear 0.5s;
}

.right-img svg{
    margin-left: 7vw;
    rotate: 33deg;
}


/* ------------- Part 2 ------------ */

.part-2{
    position: relative;
    width: 100%;
    height: 200vh;
    background-color: #111;
    border-radius: 100px;
    padding: 5vw;
    color: #fff;
    overflow: hidden;
}

.heading-services{
    display: flex;
    width: 100%;
    align-items: center;
    height: 10vh;
    color: #fff;
    font-size: 1.5vw;
}

.cir-ser-1{
    width: 2vw;
    height: 2vw;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 0.5vw;
}
.cir-ser-2{
    width: 2vw;
    height: 2vw;
    background-color: #b9e901;
    border-radius: 50%;
    margin-right: 0.5vw;
}

.part-2 h1{
    margin: 5vh 0;
    font-size: 4.5vw;
}

.part-2 p{
    font-size: 1vw;
}

.services{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10vw;
    position: relative;
    width: 100%;
    height: 10vh;
    margin-bottom: 5vh;
    /* background-color: #5f20ea; */
    overflow: hidden  ;
}

.hover-div{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #b9e901;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
 
.services-items h2{
    font-weight: 300;
    font-size: 2vw;
    z-index: 2;
    margin-left: 2vw;
}

.services-items i{
    font-size: 3.5vw;
    margin-left: 5vw;
    z-index: 2;
}

.ser-name{
    width: 30vw;
}

.banner-1{
    margin-top: 2vh;
    position: absolute;
    left: -5%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130%;
    height: 18vh;
    rotate: -10deg;
    background-color: #b9e901;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.1s; */
}
 
.banner-1 h1{
    font-size: 4vw;
    text-transform: uppercase;
}

.banner-2{
    margin-top: 2vh;
    position: absolute;
    right: -5%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130%;
    height: 18vh;
    rotate: 3deg;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.1s; */
}

.banner-2 h1{
    font-size: 4vw;
    text-transform: uppercase;
    color:#111;
}

.register-now{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    border: 3px solid #b9e901;
}

.register-now svg{
    fill: currentColor;
    height: auto;
    transform-origin: center;
    width: 90%;
    animation: rotate 5s infinite linear;
}

.register-now .cir-svg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #5f20ea;
}

.register-now .cir-svg img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 75%;
    animation: rotateInvert 5s infinite linear;
}

@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

@keyframes rotateInvert{
    0%{
        rotate: 360deg;
    }
    100%{
        rotate: -360deg;
    }
}



/* **--------------- Loader ---------------** */


#loader{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    overflow: hidden;
}

.loader-text-1, .loader-text-2{
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 30vw;
    height: 15vh;
    overflow: hidden;
}

.loader-text-2{
    top: 21vh;
    left: 5vw;
}

.loader-text-content{
    width: 100%;
    height: 50vh;
    /* margin-top: -20vh; */
}
 
.loader-text-content h1{
    font-size: 6vw;
}

.loader-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 50vw;
    height: 60vh;
    background-image: url("assets/ss2.png");
    background-size: cover;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: 99;
}

#nike{
    position: absolute;
    top: 30%;
    left: 100%;
    width: 20vw;
    height: 50vh;
    z-index: 10;
}

.loading-text{
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}

.loading-text h4{
    font-size: 2vw;
    font-family: normal;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.7;
}

.loading-text h4 span{
    font-size: 2.2vw;
    font-family: normal;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.7;
}

  span[class^="dot-"]{
    opacity: 0;
  }
  .dot-one{
    animation: dot-one 2s infinite linear
  }
  .dot-two{
    animation: dot-two 2s infinite linear
  }
  .dot-three{
    animation: dot-three 2s infinite linear
  }
  @keyframes dot-one{
    0%{
      opacity: 0;
    }
    15%{
      opacity: 0;
    }
    25%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes dot-two{
    0%{
      opacity: 0;
    }
    25%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes dot-three{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    75%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }